.scrollUp {
  position: fixed;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(3, 20, 37);
  font-size: 1.875rem;
  bottom: 5rem;
  width: 2%;
  cursor: pointer;
  overflow: hidden;
  right: 2%;
  z-index: 1000;
  opacity: 0.3;
}

.scrollUp:hover,
.scrollUp:active {
  opacity: 1;
}

.scrollFadeOut {
  opacity: 0;
  line-height: 1;
}
.scrollFadeIn {
  transition: opacity 0.5s;
  opacity: 1;
  line-height: 1;
}
.scrollDown {
  position: fixed;
  color: rgb(255, 255, 255);
  opacity: 0.3;
  font-size: 1.875rem;
  text-align: center;
  right: 2%;
  width: 2%;
  background-color: rgb(3, 20, 37);
  bottom: 1.25rem;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.625rem;
}

.scrollDown:hover {
  opacity: 1;
}
