@value layout: "../layout.css";

@value lightGray from layout;
@value borderDarkGray from layout;

.sectionBase {
  width: 75%;
  height: 43.5rem;
  border: solid 0.0625rem borderDarkGray;
  background-color: lightGray;
  margin-top: 2.1875rem;
  padding-right: 2.6875rem;
}

/* .sectionBaseHeader {
  width: 17.8125rem;
  height: 1.75rem;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}
.weightedLine {
  width: 64.8125rem;
  height: 41.9375rem;
  border: solid 0.0625rem borderDarkGray;
  background-color: lightGray;
}
.lightLine {
  width: 64.8125rem;
  height: 41.9375rem;
  border: solid 0.0625rem borderDarkGray;
  background-color: lightGray;
} */

.blockDiv {
  display: block;
}

.hiddenDiv {
  display: none;
}
