@value layout: "../layout.css";

@value lightGray from layout;
@value borderDarkGray from layout;

.sectionBase {
  overflow: hidden;
  border-top: 1rem solid #000;
  border-right: solid 0.2rem #000;
  border-left: solid 0.2rem #000;
  border-bottom: solid 0.2rem #000;
  margin-top: 2.1875rem;
  padding: 4.6875rem 3.4375rem;
}

.blockDiv {
  display: block;
}

.hiddenDiv {
  display: none;
}
