.highlightLabel {
  width: 0.5rem;
  height: 13rem;
  border: solid 0.0625rem #707070;
  background-color: #393939;
}

.regular {
  width: 218.1875rem;
  height: 13rem;
  border: solid 0.0625rem #707070;
  background-color: #f4f4f4;
}
