language: node_js

node_js:
  - "stable"
  - "lts/*"

branches:
  only:
    - master

cache:
  directories:
    - node_modules

before_script:
  - "npm i -g gatsby-cli"
  - "yarn"

script:
  - gatsby build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  }
  keep_history: true
  on:
    branch: master
