@value layout: "../layout.css";

@value tabletMaxWidth: 1024px from layout;

.bioRow {
    margin-bottom: 2rem;
    justify-content: center;
}

.clearfix {
    padding-left: 0;
    padding-right: 0;
}

.team {
    position: relative;
}

.teamDesc {
    position: relative;
    overflow: hidden;
    text-align: left;
}

.teamTitle {
    position: relative; 
    padding-top: 0;
}

.teamTitleName {
    display: block;
    margin-bottom: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.teamTitleRole {
    display: block;
    color: teal;
    font-weight: 400;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 1rem;
    margin-top: .375rem;
}

.teamContent {
    margin-top: 1rem;
    color: #777;
}

.teamImage {
    margin: auto;
    width: 100%;
    max-width: 18rem;
}

.teamImageImg {
    display: block;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    max-height: 18rem;
}

.teamDescCol {
    margin-bottom: 3.5rem;
}

.socialIcon {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1.25rem;
}

.socialIcon i {
    display: block;
    position: relative;
}

@media (max-width: tabletMaxWidth) {
    .teamImage {
        margin-bottom: .75rem;
    }
}
