@value layout: "../layout.css";

@value tabletMaxWidth from layout;
@value landscapeMaxWidth from layout;
@value portraitMaxWidth from layout;

.labelWrapper {
  padding: 2.5rem;
}

.flexComponents {
  display: flex;
  flex-direction: row;
}

.flexTitleMenus {
  position: fixed;
  display: flex;
  flex-direction: column;
}

@media (max-width: landscapeMaxWidth) {
    .flexTitleMenus {

    }
}
