@value layout: "../layout.css";

@value tabletMaxWidth from layout;
@value landscapeMaxWidth from layout;
@value portraitMaxWidth from layout;

@value lightGray from layout;

.labelWrapper {
  padding: 1.5rem 0;
  background-color: lightGray;
}

.flexTitleMenus {
  position: fixed;
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  padding-right: 3rem;
  padding-left: 0;
}

.sectionBase {
  overflow: hidden;
  border-top: 1rem solid #000;
  border-right: solid 0.2rem #000;
  border-left: solid 0.2rem #000;
  border-bottom: solid 0.2rem #000;
  background-color: #fff;
  margin-top: 2.1875rem;
  padding: 2.6875rem;
}

.labelHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1rem black;
  margin-bottom: 2rem;
}

.labelHeader h1,
.labelHeader h4 {
    margin-bottom: 0;
}

.blockDiv {
  display: block;
}

.hiddenDiv {
  display: none;
}

@media (max-width: landscapeMaxWidth) {
    .labelWrapper {
        padding: 1rem 0;
    }

    .sectionBase {
        margin-top: .5rem;
    }

    .flexTitleMenus {
        position: relative;
        margin-top: 0;
        padding-right: 0;
    }
}
