@value layout: "../layout.css";

@value tabletMaxWidth from layout;
@value landscapeMaxWidth from layout;
@value portraitMaxWidth from layout;

.menuTop {
  margin-top: 3.5rem;
}

.labelMenus {
  margin: 1.1875rem 0 0 0;
  padding: 1.875rem 0 0 0;
  text-align: right;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.highlightLabel {
  border-bottom: 4px solid black;
  cursor: pointer;
  padding-bottom: 5px;
}

.span {
  display: block;
  width: 100%;
}

.weightedLine {
  flex: 80% 0 0;
  border-bottom: 0.1875rem solid currentColor;
  display: inline;
  line-height: 0.85;
  margin: 0.46875rem 0rem 0rem 1.46875rem;
}

.menuTitle {
  display: block;
  margin-top: 1.1875rem;
  width: 100%;
  height: 1.375rem;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
}

.menuTitle:hover {
  cursor: pointer;
}
.useButton .btn-primary {
  background-color: none !important;
}

@media (max-width: tabletMaxWidth) {
    .menuTitle {
        font-size: 1rem;
    }
}

@media (max-width: landscapeMaxWidth) {
    .menuTitle {
        font-size: .8rem;
    }
}
