.labelMenu {
  width: 20%;
}

.menuTop {
  margin-top: 3.5rem;
}
.labelMenus {
  margin: 1.1875rem 0rem 0rem 0rem;
  padding: 1.875rem 0rem 0rem 5.7rem;
  text-align: right;
  cursor: pointer;
}

/* .labelMenus:hover {
  text-decoration: bold underline;
} */
.highlightLabel {
  text-decoration: none;
  border-bottom: 4px solid black;
  cursor: pointer;
  padding-bottom: 30px;
}
/* 
.labelMenuDescription {
  flex: 1;
  display: flex;
  width: 5.125rem;
  height: 0.875rem;
  font-family: Helvetica;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  margin: 0.25rem 0rem 0rem 1.46875rem;
} */

.weightedLine {
  flex: 80% 0 0;
  border-bottom: 0.1875rem solid currentColor;
  display: inline;
  line-height: 0.85;
  margin: 0.46875rem 0rem 0rem 1.46875rem;
}

.menuParagraph {
  width: 15.375rem;
  height: 5.25rem;
  font-family: Helvetica;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  margin-left: 1.46875rem;
  margin-top: 0.53125rem;
}

.menuTitle {
  display: block;
  margin-left: 7.34375rem;
  margin-top: 1.1875rem;
  width: 14.125rem;
  height: 1.375rem;
  font-family: Helvetica;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
}

.menuTitle:hover {
  cursor: pointer;
}
.useButton .btn-primary {
  background-color: none !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: white !important;
  color: black !important;
}

/* .flexbox {
  display: flex;
  align-content: flex-start;
  justify-content: first baseline;
} */
