.useCasesHeader {
  font-weight: bolder;
  font-size: 3rem;
}

.aboutHeader {
  text-align: right;
  font-size: 1.875rem;
  font-weight: bolder;
  margin-top: -0.4375rem;
}
.selectHeader {
  font-size: 1.875rem;
  font-weight: bolder;
  margin-bottom: 0.625rem;
  margin-top: 1.75rem;
  text-align: right;
}

.selectParagraph {
  text-align: right;
  word-wrap: break-word;
}
.boldHeader {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1rem;
}
.please {
  font-weight: normal;
}
.pleaseBold {
  font-weight: bold;
  color: black;
}
.datasetUnderlineBold {
  display: block;
  width: 90%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}

.objectivesUnderlineBold {
  display: block;
  width: 100%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}

.useCaseList {
  margin-top: 1.5625rem;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2.1875rem;
}

.onlyChild {
  display: block;
  width: 100%;
}

.ulPredictions {
  margin-top: 1.5625rem;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.datasetParagraph {
  margin-top: -2.1875rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;

  border: 0.125rem solid #999;
  transition: 0.2s all linear;
  margin-right: 0.3125rem;

  position: relative;
  top: 0.03125rem;
}
input:checked {
  background-color: #000000 !important;
  border: 0.125rem solid black;
}

input:focus,
textarea {
  outline: none !important;
}
