.useCasesHeader {
  font-weight: bolder;
  font-size: 48px;
}

.aboutHeader {
  text-align: right;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -9.2px;
}
.selectHeader {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: right;
}

.selectParagraph {
  text-align: right;
}
.boldHeader {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
}
.please {
  font-weight: normal;
}
.pleaseBold {
  font-weight: bold;
  color: black;
}
.datasetUnderlineBold {
  display: block;
  width: 90%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}

.predictionsUnderlineBold {
  display: block;
  width: 80%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}

.useCaseList {
  margin-top: 25px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.childOne {
  display: block;
  width: 50%;
}
.childTwo {
  display: block;
  width: 50%;
}

.ulPredictions {
  margin-top: 25px;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.datasetParagraph {
  margin-top: -35px;
}

/* .selectorBody {
  padding-left: 60px;
} */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
input:checked {
  background-color: #000000 !important;
  border: 2px solid white;
}

/* button,
legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
} */

/* button:active {
  background-color: #000000 !important;
} */
