@value layout: "../../layout.css";

@value v3Green from layout;
@value v3Red from layout;
@value v3Blue from layout;
@value v3Yellow from layout;
@value v3Gray from layout;
@value v3Black from layout;
@value lightGray from layout;

.label {
    background-color: rgba(94, 127, 247, 0.03);
    padding: 2rem 4rem;
    margin-top: 5rem;
}

.label h2,
.label h3,
.label h4 {
    font-weight: 600;
    margin-bottom: 0rem;
}

.red {
    background-color: v3Red;
}

.green {
    background-color: v3Green;
}

.yellow {
    background-color: v3Yellow;
}

.blue {
    background-color: v3Blue;
}

.redBorder {
    border-left-color: v3Red;
}

.greenBorder {
    border-left-color: v3Green;
}

.yellowBorder {
    border-left-color: v3Yellow;
}

.blueBorder {
    border-left-color: v3Blue;
}

/* non-approved label formatting */

.draftHeader,
.underReviewHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draftHeader {
    padding-top: 1rem;
    background-color: #fae1c1;
    color: v3Black;
}

.underReviewHeader {
    padding-top: 1rem;
    background-color: #f4d9d7;
    color: v3Black;
}

.draftWatermark:before,
.reviewWatermark:before {
    content: '';
    position: fixed;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: center;  
    opacity: 0.2;
}

.draftWatermark:before {
    background: url('../../../images/draft.png') 0 0 repeat;
}

.reviewWatermark:before {
    background: url('../../../images/under-review.png') 0 0 repeat;
}

.draftWatermark,
.reviewWatermark {
    margin-top: 9rem;
}

.watermarkInner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 5rem;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.watermarkBody {
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    font-size: 15rem;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(45deg);
    user-select: none;
}

.watermarkIcon {
    height: 1.5rem;
    margin-right: .5rem;
}

.draftHeaderTitle,
.underReviewHeaderTitle {
    display: flex;
}

.draftHeaderTitleText,
.underReviewHeaderTitleText {
    margin-bottom: 0rem;
    font-weight: 700;
}

/* Global label formatting */

.labelRow {
    margin-bottom: 1rem;
}

.labelSectionHeader {
    margin-bottom: 2rem;
    border-bottom: 3px solid v3Black;
    padding-bottom: .5rem;
}

.modHowToUse {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.keywordList {
    display: flex;
}

.keywordList {
    flex-wrap: wrap;
}

.keywordListItem {
    margin: .25rem;
    background: #F4F6FD;
    border: 1px solid #CBD1EA;
    border-radius: 2px;
    padding: .675rem;
    white-space: nowrap;
}

.usageLabelIcon {
    width: .875rem;
    height: .875rem;
}

.usageLabelColor {
    margin: 0 .25rem;
    width: 1rem;
    height: .25rem;
    border-radius: 1rem;
}

.usageLabelText {
    font-size: .75rem;
}

.usageRow {
    justify-content: space-between;
    align-items: flex-start;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.usageDescription {
    margin: .5rem 0;
    border-left-style: solid;
    border-left-width: 5px;
    box-shadow: 0px 2px 4px rgba(94, 127, 247, 0.1);
    border-radius: 2px;
    background-color: white;
    width: 49%;
    padding: .5rem 1rem;
}

.aboutRow {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(94, 127, 247, 0.1);
    border-radius: 2px;
    margin: .5rem 0;
    padding: 1rem;
}

.aboutRowTitle,
.aboutRowContent {
    margin-bottom: 0;
}

.aboutRowTitle {
    min-width: 10rem;
}

.aboutRowContent {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.risksAtAGlance {
    background-color: #F4F6FD;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #CBD1EA;
    border-radius: 2px;
}

.atAGlanceBadgeRow,
.atAGlanceHeader {
    display: flex;
    justify-content: space-between;
}


.badgeColumn {
    width: 20%;
}

.accordionCaret {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: lightGray;
    border-radius: 1rem;
}

.accordionCaretIcon {
    width: 1rem;
}
