.list {
  text-decoration: none;
  list-style-type: none;
  clear: both;
}

.dropdownContent {
  width: 100%;
  text-align: right;
  z-index: 1;
}

.navbar {
  display: inline-block;
  width: 100%;
}
.listSet {
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: both;
  color: black;
}

.listSetBold {
  font-weight: bold;
  color: black;
}
.listSet:hover div {
  font-weight: bold;
  color: black;
}

.listSet:hover {
  text-decoration: none;
}

.selectorArrow {
  margin-right: 0.4375rem;
}
