.list {
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: both;
  margin-top: 10px;
}

.dropdownContent {
  margin-left: 230px;
  z-index: 1;
}

.navbar {
  position: relative;
  display: inline-block;
}
