.list {
  text-decoration: none;
  list-style-type: none;
  clear: both;
}

.navbar {
  margin: 0rem 2.1875rem 3rem 0rem;
}
.listSet {
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: both;
  color: black;
}

.listSetBold {
  font-weight: bold;
  color: black;
}
.listSet:hover div {
  font-weight: bold;
  color: black;
}

.listSet:hover {
  text-decoration: none;
}

.selectorArrow {
  margin-right: 0.4375rem;
}
