@value layout: "../components/layout.css";

@value darkSlateBlue from layout;
@value teal from layout;
@value backgroundGray from layout;

@value tabletMaxWidth: 1024px from layout;
@value landscapeMaxWidth: 767px from layout;
@value portraitMaxWidth: 479px from layout;


/* General layout */

.feature {
  margin: 2rem auto;
  max-width: 500px;
}

.section {
    position: relative;
    padding: 3.75rem 0;
    overflow: hidden;
}

.modGray {
    background-color: backgroundGray;
}

.clearfix {
    padding-left: 0;
    padding-right: 0;
}

.img {
    max-width: 100%;
}

.sectionImage {
    height: 34.375rem;
    overflow: hidden;
}

.sectionImageImg {
    margin: -4.5rem 0;
}

.titleBlock {
    text-align: center;
    margin-top: 22.5vh;
    margin-bottom: 3.5rem;
    border-bottom: none;
    color: #FFF;
}

.pageTitleHeader {
    margin-bottom: 0;
    padding: 0 1rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.pageTitleSpan {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.75rem;
    font-weight: 300;
}

.centerText {
    text-align: center;
}

.alignCenter {
    align-items: center;
}

.tealButton {
    background-color: teal;
    margin: .375rem;
    border: none;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    line-height: 2rem;
    width: auto;
    height: auto;
}

.tealButtonLink {
    color: white;
}

.tealButtonLink i {
    margin-right: .375rem;
}

.tealButton:hover,
.tealButton:focus,
.tealButton:active {
    background-color: darkSlateBlue;
}

.modButtonLarge {
    padding: 0 2rem;
    line-height: 3.5rem;
}

.modButtonMed {
    padding: 0 1.5rem;
    line-height: 3rem;
}

.modButtonParagraph {
    margin: .5rem 0;
}

.photoCredit {
    width: 100%;
    padding: .875rem;
    text-align: right;
}

.headingBlock {
    margin-bottom: 3.125rem;
}

.headingBlock::after {
    content: '';
    display: block;
    width: 2.5rem;
    margin: 2.875rem auto 0;
    border-top: .125rem solid black;
}

.headingBlock h1,
.headingBlock h2,
.headingBlock h3,
.headingBlock h4 {
    margin-bottom: 0;
    padding: 0 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}

.headingBlock h2 {
    font-size: 2.25rem;
}

.headingSubHeader {
    display: block;
    margin-top: .875rem;
    font-weight: 300;
    font-size: 1.5rem;  
    color: #777;
    max-width: 43.75rem;
    margin-left: auto;
    margin-right: auto;
}


/* Title Block */

.icon {
  height: 1.25rem;
  margin-bottom: .35rem;
  margin-right: .25rem;
}

.slider {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 92.5vh;
    background-color: #000;
    background-image: linear-gradient(rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%), url('../images/background-header-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sliderParallax { 
    position: relative; 
}

.sliderParallax .sliderParallaxInner {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .device-touch .sliderParallax .sliderParallax-inner { position: relative; }

body:not(.side-header) .sliderParallax .sliderParallaxInner { left: 0; }

body:not(.stretched) .sliderParallax .sliderParallaxInner { left: auto; }

.header.transparentHeader + .sliderParallax .sliderParallaxInner { top: 0; } */

.headerSentence {
    font-size: 1.75rem;
    font-weight: 700;
}

.subHeaderSentence {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Info sections */

.missionRow {
    align-items: center;
    margin-bottom: 2rem;
}

.lead {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.missionList {
    list-style-type: none;
    font-size: 1.25rem;
    padding-left: 0;
}

.modPictureBelow {
    margin-bottom: 0;
}

.modPictureAbove {
    margin-top: 0;
}

.talksSection {
    margin-bottom: 2.5rem;
}


/* Team section */

.disclaimer {
    font-size: .625rem;
}

/* FAQ */

.faq h4 {
    font-size: 1.25rem;
}

.faq p {
    font-size: 1.125rem;
}

.line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 60px 0;
    border-top: 1px solid #EEE;
}

.supporters {
    display: flex;
    align-items: center;
}

.featureBox {
    position: relative;
    margin-top: 0;
    padding:  0;
}

.mediaBox {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 1.5rem;
}

.mediaBox img {
    max-width: 100%;
}

.subscribeForm {
    text-align: center;
}

.subscribeLabel {
    display: inline-block;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: .675rem;
    cursor: pointer;
}

.contactHeader {
    margin-bottom: 0;
}

@media (max-width: tabletMaxWidth) {
    .modButtonLarge {
        padding: .25rem 2rem;
        line-height: 2rem;
    }

    .mobileSpacer {
        margin-bottom: 1rem;
    }
}

@media (max-width: landscapeMaxWidth) {
    .modButtonLarge {
        padding: .25rem 2rem;
        line-height: 2rem;
    }

    .slider {
        height: auto;
    }

    .sectionImage {
        height: 100%;
        overflow: hidden;
    }
}

@media (max-width: portraitMaxWidth) {
    .pageTitleHeader {
        font-size: 2.5rem;
    }

    .pageTitleSpan {
        font-size: 1.5rem;
    }

    .missionList {
        font-size: 1rem;
    }

    .headingBlock h2 {
        font-size: 1.75rem;
    }

    .headingSubHeader,
    .headerSentence,
    .lead {
        font-size: 1.25rem;  
    }

    .sectionImageImg {
        margin: 0;
    }
}
