@value layout: "../layout.css";

@value alertRed from layout;
@value alertOrange from layout;
@value alertYellow from layout;
@value gray from layout;

.card {
  padding: 0.5rem;
  background-color: #f0f0f0;
}

.columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  padding: 0;
}

.alertColumn {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.alertColumn > p,
.subtitleText {
  margin-bottom: 0;
}

.spacerColumn {
  flex-grow: 2;
  height: 65px;
  background-color: #f0f0f0;
}

.rightColumn {
  text-align: right;
}

.rectangle {
  display: inline-block;
  height: 70px;
  width: 8px;
  background-color: red;
  padding-left: -5px;
  /* margin-right: 1rem; */
}

.low {
  color: alertYellow;
}

.medium {
  color: alertOrange;
}

.high {
  color: alertRed;
}

.circle.low {
  background-color: alertYellow;
}

.circle.medium {
  background-color: alertOrange;
}

.circle.high {
  background-color: alertRed;
}

.titleText {
  font-size: 1rem;
  font-weight: bold;
}

.subtitleText {
  font-size: 0.875rem;
}

.bold {
  font-weight: 700;
}

/* .label {
  color: gray;
} */

.tagsRow {
  display: flex;
  flex-direction: row;
}

.tag {
  margin-left: 0.5rem;
}

.caret,
.caret:focus {
  border: none !important;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  margin-left: 0.5rem;
}

.caretImg {
  width: 1rem;
}

.content {
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 2.5rem;
}

/* Alerts Header */
.alertsHeader {
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.boldHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.filteredContent {
  padding-left: 5px;
  font-size: 16px;
}

.accordionBody {
  padding-left: 60px;
}

.parentDiv {
  display: flex;
  margin-bottom: 15px;
}

.filter {
  flex: 0.5;
}

/* SEVERITY  */
.severity {
  width: 100px;
}

.box {
  height: 0.6875rem;
  width: 0.5rem;
}

.red {
  background-color: #f0190c;
}

.orange {
  background-color: #ff9403;
}

.yellow {
  background-color: #f0e70c;
}

.green {
  background-color: #09b702;
}

.parentColors {
  display: flex;
}

.upperRight {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 300px;
  padding-left: 5px;
}

.upperRight > div {
  flex: 1 1 auto;
  text-align: center;
  margin-right: 25px;
  position: relative;
}
.moreButton {
  font-weight: bold;
  font-size: 14px;
}

.caretIcon {
  padding-left: 5px;
  font-size: 20px;
}

/* .parentColors.mc {
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
} */
