@value layout: "../layout.css";

@value alertRed from layout;
@value alertOrange from layout;
@value alertYellow from layout;
@value gray from layout;

.card {
    padding: .5rem;
}

.columns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
}

.alertColumn {
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
}

.alertColumn > p,
.subtitleText {
    margin-bottom: 0;
}

.spacerColumn {
    flex-grow: 2;
}

.rightColumn {
    text-align: right;
}

.circle {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.low {
    color: alertYellow;
}

.medium {
    color: alertOrange;
}

.high {
    color: alertRed;
}

.circle.low {
    background-color: alertYellow;
}

.circle.medium {
    background-color: alertOrange;
}

.circle.high {
    background-color: alertRed;
}

.titleText {
    font-size: 1rem;
}

.subtitleText {
    font-size: .875rem;
}

.bold {
    font-weight: 700;
}

.label {
    color: gray;
}

.tagsRow {
    display: flex;
    flex-direction: row;
}

.tag {
    margin-left: .5rem;
}

.caret,
.caret:focus {
    border: none !important;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    margin-left: .5rem;
}

.caretImg {
    width: 1rem;
}

.content {
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 2.5rem;
}
