@value layout: "../layout.css";

.alertsHeader {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: right;
}

.alertsMargin {
  margin-top: 50px;
}
.alertUnderlineBold {
  display: block;
  width: 100%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}
.parentDiv {
  display: flex;
  margin-bottom: 15px;
}

.parentColors {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.selct:focus {
  outline: none;
}
.selct {
  border: none !important;
  outline: none !important;
}

.parentAlerts {
  display: flex;
}
.upperRight {
  position: relative;
  flex-direction: row;
  padding-left: 5px;
  margin-top: 5px;
}
.upperLeft {
  margin-top: 5px;
  margin-left: -24px;
}
.sevParagraph {
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: -5px;
}
.red {
  text-indent: -9999px;
  width: 35px;
  height: 25px;
  background: url(../../../public/static/high.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
}

.orange {
  background-color: #ff9403;
  width: 32px;
  height: 25px;
  background: url(../../../public/static/moderate.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
}

.yellow {
  background-color: #f0e70c;
  width: 32px;
  height: 25px;
  background: url(../../../public/static/medium.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
}

.green {
  background-color: #09b702;
  width: 32px;
  height: 25px;
  background: url(../../../public/static/low.svg);
  background-size: 45px 35px;
  position: relative;
  bottom: 11px;
}

.severityLvls {
  display: flex;
  flex-direction: row;
  right: 50px;
  margin-bottom: -30px;
  top: 0;
}

.boldHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.filteredContent {
  padding-left: 5px;
  font-size: 16px;
}
.filter {
  flex: 0.89;
}

.caretIcon {
  padding-left: 5px;
  font-size: 20px;
}

.fyi {
  background-color: green;
}
