@value layout: "../layout.css";

.alertsHeader {
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 0.625rem;
  text-align: right;
}

.alertsMargin {
  margin-top: 3.125rem;
}
.alertUnderlineBold {
  display: block;
  width: 100%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  font-weight: bold;
}
.parentDiv {
  display: flex;
  margin-bottom: 0.9375rem;
}

.parentColors {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.selct:focus {
  outline: none;
}
.selct {
  border: none !important;
  outline: none !important;
}

.parentAlerts {
  display: flex;
}
.upperRight {
  position: relative;
  flex-direction: row;
  padding-left: 0.3125rem;
  margin-top: 0.3125rem;
}
.upperLeft {
  margin-top: 0.3125rem;
  margin-left: -1.5rem;
}
.sevParagraph {
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: -0.3125rem;
}
.red {
  text-indent: -624.9375rem;
  width: 2.1875rem;
  height: 1.5625rem;
  background: url(/static/high.svg);
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.6875rem;
}

.orange {
  background-color: #ff9403;
  width: 2rem;
  height: 1.5625rem;
  background: url("/static/moderate.svg");
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.6875rem;
}

.yellow {
  background-color: #f0e70c;
  width: 2rem;
  height: 1.5625rem;
  background: url("/static/medium.svg");
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.6875rem;
}

.green {
  background-color: #09b702;
  width: 2rem;
  height: 1.5625rem;
  background: url("/static/low.svg");
  background-size: 2.8125rem 2.1875rem;
  position: relative;
  bottom: 0.6875rem;
}

.severityLvls {
  display: flex;
  flex-direction: row;
  right: 3.125rem;
  margin-bottom: -1.875rem;
  top: 0;
}

.boldHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
.filteredContent {
  padding-left: 0.3125rem;
  font-size: 1rem;
}
.filter {
  flex: 0.89;
}

.caretIcon {
  padding-left: 0.3125rem;
  font-size: 1.25rem;
}

.fyi {
  background-color: green;
}
