@value layout: "../layout.css";

@value darkSlateBlue from layout;
@value teal from layout;

@value tabletMaxWidth from layout;
@value navHeight: 3.75rem;

/* ----------------------------------------------------------------
    Header
-----------------------------------------------------------------*/

.header {
  position: relative;
  background: transparent;
  height: navHeight;
  border-bottom: none;
  z-index: 199;
}

.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkSlateBlue;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  height: navHeight;
  width: 100%;
}

.header .container {
  position: relative;
  width: 100%;
  padding: 0 5rem;
}

/* ----------------------------------------------------------------
    Logo
-----------------------------------------------------------------*/

.logo {
  position: relative;
  float: left;
  font-size: 2rem;
  line-height: 100%;
  margin-right: 2.25rem;
}

.logo a {
  display: block;
  color: white;
}

.logoImg {
  display: block;
  max-width: 100%;
  height: navHeight;
}

.logo a.standardLogo {
  display: block;
}

.primaryMenu {
  float: right;
}

.primaryNav {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: navHeight;
}

.primaryNav div {
  position: relative;
}

.primaryNav div > a {
  display: block;
  line-height: 1.375rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.primaryNav div > a span {
  display: none;
}

.primaryNav div > a i {
  position: relative;
  top: -0.0625rem;
  font-size: 1rem;
  width: 1rem;
  text-align: center;
  margin-right: 0.5rem;
  vertical-align: top;
}

.primaryNav div > a i.iconAngleDown:last-child {
  font-size: 0.75rem;
  margin: 0 0 0 0.3125rem;
}

.primaryNav div:hover > a,
.primaryNav div.current > a {
  color: teal;
}

.primaryMenuTrigger {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -1.5625rem;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  color: white;
}

.navLink {
  padding: 0.5rem 1rem;
}

.navDropdown {
  background-color: darkSlateBlue;
}

.dropdownItem {
  padding-left: 0;
}

@media (max-width: tabletMaxWidth) {
  .header {
    height: auto;
  }

  .header .container {
    padding: 0;
  }

  .headerWrap {
    height: auto;
    position: relative;
  }

  .logo {
    display: block;
    float: none;
    text-align: center;
  }

  .primaryMenu {
    display: block;
    float: none;
  }

  .primaryMenuTrigger {
    float: left;
    position: relative;
    opacity: 1;
    pointer-events: auto;
    left: 0;
    z-index: 1;
    font-size: 2rem;
    margin: 0.25rem 4rem 0 0.5rem;
  }

  .primaryNav {
    display: none;
  }

  .primaryNav.show {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .primaryNav div {
    width: 100%;
    background-color: darkSlateBlue;
  }

  .dropdownItem {
    padding-left: .5rem;
  }

  .dropdownLink {
    color: white;
  }

  .dropdownLink:hover,
  .dropdownLink.current {
    color: teal;
  }
}
