.dark {
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0,0,0,0.2);
}

.copyrights {
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 2.5rem 0;
    font-size: .875rem;
    line-height: 1.8;
}

.socialIcon {
    margin: 0 .375rem .375rem 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.375rem !important;
    text-shadow: none;
    border: 1px solid #DDD;
    border-radius: 50%;
    overflow: hidden;
    color: #DDD !important;
    transition: all .3s ease;
    display: block;
    float: left;
    text-align: center !important;
    cursor: pointer;
    font-style: normal;
}

.siTwitter:hover { background-color: #00ACEE !important; }

.copyrights a:first-child { margin-left: 0; }

.copyrights .tright a:last-child { margin-right: 0; }
