/* color contants */
@value darkSlateBlue: #203f66;
@value teal: #1ABC9C;
@value alertRed: #f0190c;
@value alertOrange: #f5931e;
@value alertYellow: #fcda24;
@value borderDarkGray: #707070;
@value lightGray: #f4f4f4;
@value gray: #969696;
@value backgroundGray: #F9F9F9;

/* responsive constants */
@value tabletMaxWidth: 991px;
@value landscapeMaxWidth: 767px;
@value portraitMaxWidth: 479px;


body {
    font-family: 'railway', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 2rem 0;
}

h4 {
    font-weight: 600;
    font-size: 1.125rem;
}

a {
    text-decoration: none !important;
    color: darkSlateBlue;
}

a:hover {
    color: teal;

}
