/* color contants */
@value darkSlateBlue: #203f66;
@value teal: #1ABC9C;
@value alertRed: #f0190c;
@value alertOrange: #f5931e;
@value alertYellow: #fcda24;
@value borderDarkGray: #707070;
@value lightGray: #f4f4f4;
@value gray: #969696;

/* responsive constants */
@value tabletMaxWidth: 991px;
@value landscapeMaxWidth: 767px;
@value portraitMaxWidth: 479px;

/* pading constants  */
@value sideSectionPadding: 4.375rem;

.copyrights {
  padding: 40px 0;
  background-color: #ddd;
  font-size: 14px;
  line-height: 1.8;
}

.copyrights i.footer-icon {
  position: relative;
  top: 1px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  margin-right: 3px;
}

.dark .social-icon {
  color: #ddd !important;
  border-color: #ddd;
}

.si-twitter:hover,
.si-colored.si-twitter {
  background-color: #00acee !important;
}
.si-rounded {
  border-radius: 50%;
}

.copyrights .col_half {
  margin-bottom: 0 !important;
}

.copyrights a:first-child {
  margin-left: 0;
}

.copyrights .tright a:last-child {
  margin-right: 0;
}
