/* color contants */
@value darkSlateBlue: #203f66;
@value teal: #1ABC9C;
@value alertRed: #f0190c;
@value alertOrange: #f5931e;
@value alertYellow: #fcda24;
@value alertBlue: #5b8b92;
@value borderDarkGray: #707070;
@value lightGray: #f4f4f4;
@value gray: #969696;
@value backgroundGray: #F9F9F9;
@value black: #000000;

/* responsive constants */
@value tabletMaxWidth: 1024px;
@value landscapeMaxWidth: 767px;
@value portraitMaxWidth: 479px;

/* pading constants  */
@value sideSectionPadding: 4.375rem;

body {
    font-family: Raleway;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 800;
    line-height: 1.5;
    margin: 0 0 2rem 0;
}

h4 {
    font-weight: 600;
    font-size: 1.125rem;
}

a {
    text-decoration: none !important;
    color: darkSlateBlue;
}

a:hover {
    color: teal;

}
