* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headertTitle {
  margin: 0rem 0rem 0rem 0rem;
  width: 17.8125rem;
  height: 1.625rem;
  font-size: 1.625rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.datasetLabel {
  margin: 0.6875rem 0rem 0rem 0rem;
  width: 28.125rem;
  height: 1.75rem;
  font-size: 1.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
}

img {
  margin-top: -1.5625rem;
  margin-left: 13.3rem;
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1.2;
}

.weightedLine {
  margin: -5rem 0rem 0rem 0rem;
  border-bottom: 0.3125rem solid currentColor;
  display: inline-block;
  line-height: 1;
  width: 100%;
}

.datasetOriginLink {
  margin: -0.9375rem 0.3125rem 0rem 0rem;
  width: 12.75rem;
  height: 1rem;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  width: 50%;
}

.link {
  display: flex;
  width: 100%;
}
