header {
  margin: 27px 0px 0px 40px;
  width: 285px;
  height: 26px;
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}
.labelTitle {
}

.datasetLabelHeader {
  margin: 11px 0px 0px 40px;
  width: 450px;
  height: 28px;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
}

#datasetLink {
  margin: 11px 0px 0px 40px;
  width: 981px;
  height: 180px;
}

.weightedLine {
  margin: 11px 0px 0px 40px;
  border-bottom: 5px solid currentColor;
  display: inline-block;
  line-height: 1;
  padding-right: 20rem;
  width: 90%;
}

.datasetOriginLink {
  margin: -15px 0px 0px 40px;
  width: 204px;
  height: 16px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
}
