.listSet {
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: both;
  color: black;
}

.listSetBold {
  font-weight: bold;
  color: black;
}
.listSet:hover div {
  font-weight: bold;
  color: black;
}

.listSet:hover {
  text-decoration: none;
}
.dropdown {
  width: 100%;
  text-align: right;
  z-index: 1;
}

.dropdownArrow {
  margin-right: 7px;
}
.navbar {
  display: inline-block;
  width: 100%;
}
ul {
  margin-top: 1rem !important;
}
