@value layout: "../layout.css";

@value alertRed from layout;
@value alertOrange from layout;
@value alertYellow from layout;
@value gray from layout;

.card {
  /* padding: 0.5rem; */
  background-color: #f0f0f0;
  width: 95%;
}

.columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  padding: 0;
  width: 75%;
}

.alertColumn {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.alertColumn > p,
.subtitleText {
  margin-bottom: 0;
  /* margin-right: 140px; */
}

.spacerColumn {
  flex-grow: 2;
  height: 65px;
  background-color: #f0f0f0;
}

.rightColumn {
  flex-grow: 2;
  height: 65px;
  text-align: right;
  top: -65px;
  margin-left: 810px;
}

.rectangle {
  display: inline-block;
  height: 70px;
  width: 8px;
  background-color: red;
  padding-left: 5px;
  /* margin-right: 1rem; */
}

.low {
  color: alertYellow;
}

.medium {
  color: alertOrange;
}

.high {
  color: alertRed;
}

.circle.low {
  background-color: alertYellow;
}

.circle.medium {
  background-color: alertOrange;
}

.circle.high {
  background-color: alertRed;
}

.titleText {
  font-size: 1rem;
  font-weight: bold;
}

.subtitleText {
  font-size: 0.875rem;
}

.bold {
  font-weight: 700;
}

/* .label {
  color: gray;
} */

.tagsRow {
  display: flex;
  flex-direction: row;
}

.severityRow {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  /* margin-right: 10px; */
}

.tag {
  margin-left: 0.5rem;
}

.caret,
.caret:focus {
  border: none !important;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  margin-left: 0.5rem;
}

.caretImg {
  width: 1rem;
}

.content {
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 2.5rem;
}

/* Alerts Header */
.alertsHeader {
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.boldHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.filteredContent {
  padding-left: 5px;
  font-size: 16px;
}

.accordionBody {
  padding-left: 60px;
}

.parentDiv {
  display: flex;
  margin-bottom: 15px;
}

.filter {
  flex: 0.89;
}

/* SEVERITY  */
.severity {
  /* width: 300px; */
}

.box {
  height: 0.6875rem;
  width: 0.5rem;
  margin-block-end: 0;
}

.red {
  background-color: #f0190c;
}

.orange {
  background-color: #ff9403;
}

.yellow {
  background-color: #f0e70c;
}

.green {
  background-color: #09b702;
}
.sevParagraph {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* right: 50px; */
  font-size: 16px;
  margin-bottom: 0;
  margin-top: -5px;
  margin-left: 5px;
}
.flexCol {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap !important; */
}
.severityLvls {
  display: flex;
  flex-direction: row;
  /* margin-right: 10px; */
  right: 50px;
  /* margin-left: 10px; */
  /* padding-bottom: 40px; */
  margin-bottom: -30px;
  top: 0;
  /* right: 30px; */
  /* position: absolute; */
}
.parentColors {
  display: flex;
}

.upperRight {
  display: flex;
  position: relative;
  flex-direction: row;
  /* width: 300px; */
  padding-left: 5px;
  margin-top: 5px;
}
.upperLeft {
  margin-top: 5px;
  margin-left: -15px;
}
.upperRight > div {
  flex: 1 1 auto;
  text-align: center;
  margin-right: 30px;

  position: relative;
}
.moreButton {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  /* padding-right: 368px; */
  margin-top: 45px;
  margin-bottom: 0px;
  padding-left: 150px;
}

.caretIcon {
  padding-left: 5px;
  font-size: 20px;
}
/* s */
/* .parentColors.mc {
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
} */

div.row {
  display: block;
  width: 100%;
}
