@value layout: "../layout.css";

@value alertRed from layout;
@value alertOrange from layout;
@value alertYellow from layout;
@value gray from layout;

.card {
  /* padding: 0.5rem; */
  background-color: white !important;
  width: 100%;
  margin-bottom: 0.5rem;
  border-width: 0;
}

.accordion > .card > .card-header {
  background-color: white !important;
}

.columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 0;
  width: 100%;
  background-color: white;
}

.alertColumn {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.flexGrow {
  flex-grow: 2;
  background-color: white;
}
.alertColumn > p,
.subtitleText {
  margin-bottom: 0;
}

.spacerColumn {
  flex-grow: 2;
  height: 65px;
}

.rightColumn {
  flex-grow: 2;
  height: 65px;
  text-align: right;
  top: -65px;
  margin-left: 850px;
  padding-left: 150px;
}

.rectangle {
  display: inline-block;
  height: 70px;
  width: 8px;
  /* background-color: red; */
  padding-left: 5px;
}

.flexCollapse {
  display: flex;
}

.childCollapse {
  margin-right: 15px;
}
/* .collapseRectangle {
  display: inline-block;
  width: 8px;
  padding-left: 7px;
  vertical-align: middle;
} */
.low {
  width: 32px;
  height: 25px;
  background: url(../../../public/static/medium.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
}

.medium {
  width: 32px;
  height: 25px;
  background: url(../../../public/static/moderate.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
}

.high {
  color: alertRed;
}

.circle.low {
  background-color: alertYellow;
}

.circle.medium {
  background-color: alertOrange;
}

.circle.high {
  background-color: alertRed;
}

.titleText {
  font-size: 1rem;
  display: inline-block;
  /* width: 300%; */
}

.subtitleText {
  font-size: 0.875rem;
  margin-left: 25px;
}

.contentParagraph {
  margin-left: 25px;
}
.bold {
  font-weight: 700;
}

.tagsRow {
  display: flex;
  flex-direction: row;
}

/* .tag {
  margin-left: 0.5rem;
} */

/* .alertRow {
  margin: 20px;
} */
.caret,
.caret:focus {
  display: inline-block;
  border: none !important;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
}

.caretImg {
  width: 1rem;
}
.caret {
  display: inline-block;
}
.content p {
  display: table-cell;
  width: 100%;
  margin-top: 1rem;
  padding-left: 3rem;
  /* padding-right: 2.5rem; */
  vertical-align: middle;
}

.textContent p {
  /* display: table-cell; */
  /* vertical-align: middle; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
}

/* Alerts Header */
.alertsHeader {
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.boldHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.accordionBody {
  padding-left: 60px;
}

.moreButton {
  font-weight: bold;
  font-size: 20px;
  /* display: block; */
  text-align: center;
}

div.row {
  display: block;
  width: 100%;
}

.Fyi {
  width: 32px;
  height: 25px;
  background: url(../../../public/static/low.svg);
  background-size: 45px 35px;
  position: relative;
  bottom: 11px;
  padding: 0;
  margin-left: -12px;
  margin-right: 0;
}

.Low {
  width: 32px;
  height: 25px;
  background: url(../../../public/static/medium.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
  padding: 0;
  margin-left: -12px;
  margin-right: 0;
}

.Moderate {
  width: 32px;
  height: 25px;
  background: url(../../../public/static/moderate.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
  padding: 0;
  margin-left: -12px;
  margin-right: 0;
}

.High {
  width: 35px;
  height: 25px;
  background: url(../../../public/static/high.svg);
  background-size: 45px 50px;
  position: relative;
  bottom: 11px;
  padding: 0;
  margin-left: -12px;
  margin-right: 0;
}
