@value layout: "../layout.css";

@value alertRed from layout;
@value alertOrange from layout;
@value alertYellow from layout;
@value gray from layout;

.card {
  background-color: white !important;
  width: 100%;
  margin-bottom: 0.5rem;
  border-width: 0;
}

.accordion > .card > .card-header {
  background-color: white !important;
}
.columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 0;
  width: 100%;
  background-color: white;
}

.alertColumn {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.flexGrow {
  flex-grow: 2;
}
.alertColumn > p,
.subtitleText {
  margin-bottom: 0;
}

.flexCollapse {
  display: flex;
}

.childCollapse {
  margin-right: 0.9375rem;
}

.titleText {
  font-size: 1rem;
  display: inline-block;
}
.titleBold {
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
}

.subtitleText {
  font-size: 0.875rem;
  right: 3.125rem;
  margin-left: 0.4375rem;
}

.propertyValue {
  text-transform: capitalize;
  font-style: italic;
}

.contentParagraph {
  margin-left: 0.4rem;
  margin-right: 1.875rem;
}

.tagsRow {
  display: flex;
  flex-direction: row;
}

.lineBreakOne {
  display: block;
  width: 100%;
  height: 0.2rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  margin-left: 1.375rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.lineBreakTwo {
  display: block;
  width: 102%;
  height: 0.4rem;
  border: solid 0.4rem borderDarkGray;
  background-color: black;
  margin-left: 0.4rem;
  margin-bottom: 0.625rem;
}

.caret,
.caret:focus {
  display: inline-block;
  border: none !important;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
}

.caretImg {
  width: 1rem;
}
.caret {
  display: inline-block;
}
.content p {
  display: table-cell;
  width: 100%;
  margin-top: 1rem;
  padding-left: 3rem;
  vertical-align: middle;
}

.textContent p {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 5rem;
}

.moreButton {
  font-size: 0.9rem;
  text-align: center;
  text-transform: none;
  text-transform: lowercase;
}

div.row {
  display: block;
  width: 100%;
}

.fyi {
  width: 2rem;
  height: 1.5625rem;
  background: url(./low.svg);
  background-size: 2.8125rem 2.1875rem;
  position: relative;
  bottom: 0.8rem;
  padding: 0;
  margin-left: -0.75rem;
  margin-right: 0;
}

.yes {
  width: 2rem;
  height: 1.5625rem;
  background: url(./medium.svg);
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.8rem;
  padding: 0;
  margin-left: -0.75rem;
  margin-right: 0;
}

.maybe {
  width: 2rem;
  height: 1.5625rem;
  background: url(./moderate.svg);
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.8rem;
  padding: 0;
  margin-left: -0.75rem;
  margin-right: 0;
}

.no {
  width: 2.1875rem;
  height: 1.5625rem;
  background: url(./high.svg);
  background-size: 2.8125rem 3.125rem;
  position: relative;
  bottom: 0.8rem;
  padding: 0;
  margin-left: -0.75rem;
  margin-right: 0;
}
