@value layout: "../../layout.css";

.aboutSection {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(94, 127, 247, 0.1);
    border-radius: 2px;
    margin: .5rem 0;
    padding: .875rem;
}

.aboutTitle {
    display: flex;
    justify-content: space-between;
}

.aboutTitleText {
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 1rem !important;
}

.aboutListSubtitle {
    margin-right: .5rem;
    font-weight: 600;
}

.itemList {
    margin-top: 1rem;
    padding-right: 2rem;
}

.item {
    list-style-type: square;
    list-style-image: url("../../../images/list-style-image.png");
    border-bottom: 1px solid #E6E6E6;
}
.item:last-of-type {
    border-bottom: none;
}

.item p {
    font-size: 1rem;
}

.aboutInfoName {
    font-weight: 700;
    margin-bottom: .5rem;
}
