@value layout: "../../layout.css";

@value v3Green from layout;
@value v3Yellow from layout;
@value v3Gray from layout;

.badge {
    border: 3px solid v3Gray;
    box-shadow: 0 .5rem 1.5rem rgba(94, 127, 247, 0.1);
    border-radius: 0 1.25rem;
    width: 3.875rem;
    height: 3.875rem;
    padding-left: .25rem;
    padding-top: .25rem;
}

.badgeIcon {
    width: 1.75rem;
    height: 1.75rem;
}

.badgeRisk {
    
}

.badgeRiskIcon {
    
}
