@value layout: "../../layout.css";

@value black from layout;

.datasetBase {
  width: 77%;
  height: 43.5rem;
  margin-top: 2.1875rem;
  padding: 2.1875rem 1.90625rem;
}

.datasetTitle {
  font-size: 2.75rem;
  height: 1.75rem;
  line-height: 0.79;
  text-align: left;
  font-weight: bold;
  margin-bottom: 3.875rem;
}

.datasetUnderlineBold {
  display: block;
  width: 99%;
  height: 0.9375rem;
  border: solid 0.625rem borderDarkGray;
  background-color: black;
  margin: 0 0 1.03125rem 0;
  font-weight: bold;
}
.datasetUnderline {
  display: block;
  width: 99%;
  height: 0.375rem;
  border: solid 0.0625rem borderDarkGray;
  background-color: black;
  margin: 3rem 0 1.03125rem 0;
}

.datasetSubHeader {
  font-size: 1.7rem;
  height: 1.375rem;
  font-weight: normal;
  text-align: left;
  font-weight: bold;
  margin-top: 1.875rem;
}

.questionSubHeader {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.875rem;
  margin-bottom: -1.25rem;
  font-size: 1rem;
}
.datasetParagraph {
  margin-top: 1.25rem;
  width: 58rem;
  height: 2.375rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.datasetOl {
  margin-top: 1.875rem;
}

ol {
  margin-left: 0rem;
  padding-left: 1.5625rem;
}
.datasetLi {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.875rem;
}
.flexbox {
  display: -webkit-flex;
  align-content: center;
  flex-wrap: wrap;
}

.datasetMrkdwn {
  text-transform: none;
  font-weight: normal;
  margin-top: 0.625rem;
}

.datasetCaret {
  border: none !important;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  margin-left: 0.5rem;
}

.overviewCaretImg {
  width: 1rem;
}

/* #StayFocusd-infobar {
  top: 972.5px;
} */
